<script>
  new SlimSelect({
    select: '#multi'
  })
</script>
<h1>Admin Page</h1>
<p><a href="/">Go back to homepage</a></p>
<table id="table_contact">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Interest(s)</th>
    <th>Subscriber to the Newsletter</th>
  </tr>
  <% @contacts.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td><%= c.name %></td>
      <td><%= c.phone %></td>
      <td><%= c.email %></td>
      <td><%= display_interests @contact_interests, @interests, c%></td>
      <td>
        <% if @subs.exists?(subscriber_id: c.id) %>
          YES
        <% else %>
          NO
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<h2>Update a user by id</h2>
<p><%= @errors %></p>
<%= form_with url: "/admin", method: "patch", local: true do %>
  <div class="contact_form">
    <p>ID: <input type="number" name="id" placeholder="id (NOT changed)" required></p>
    <p>Name: <input type="text" name="name" placeholder="new name"></p>
    <p>Phone: <input type="tel" name="phone" placeholder="new phone"></p>
    <p>Email: <input type="email" name="email" placeholder="new email"></p>
  </div>
  <p> Add new Interests :</p>
  <p>
    <%= select_tag "multi", options_from_collection_for_select(@interests, 'id', 'name'), :multiple => true, :required => false, :autocomplete => true %>
  </p>
  <p>
    <%= check_box_tag(:delete_old_interests) %>
    <%= label_tag(:delete_old_interests, "Delete old interests") %>
  </p>
  <p>
    <%= check_box_tag(:newsletter_subscriber) %>
    <%= label_tag(:newsletter_subscriber, "Receive Newsletter") %>
  </p>
  <p>
    <input type="submit" value="UPDATE">
  </p>
<% end %>

<h2>Delete a user</h2>
<%= form_with url: "/admin", method: "delete", local: true do %>
  ID: <input type="number" name="user_id" placeholder="enter user ID" required>
  <input type="submit" value="DELETE">
<% end %>
<h2>Interests List</h2>
<table id="table_interest">
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <% @interests.each do |i| %>
    <tr>
      <td><%= i.id %></td>
      <td><%= i.name %></td>
    </tr>
  <% end %>
</table>
