<h1>Subscribers list</h1>
<% @contacts.each do |c| %>
  <p>id = <%= c.id %> | <%= c.name %> | <%= c.phone %> | <%= c.email %>|
    <% @contact_interests.each do |c_i| %>
      <% if c_i.contact_id == c.id && @interests.exists?(c_i.interest_id) %>
        <%= @interests.find(c_i.interest_id).name %>
      <% end %>
    <% end %>
    |
    <% if @subs.exists?(subscriber_id: c.id) %>
      contact ON the newsletter
    <% else %>
      contact NOT on the newsletter
    <% end %>
  </p>
<% end %>
<p><a href="/">Go back to homepage</a></p>
