<h1>Subscribe to the newsletter</h1>
<script>
  new SlimSelect({
    select: '#multi'
  })
</script>
<%= form_with url: "/new", method: "post", local: true do %>
  <p>
    <input type="text" name="name" placeholder="name" required>
    <%= @contact.errors[:name].first if @contact %>
  </p>
  <p>
    <input type="tel" name="phone" placeholder="phone">
    <%= @contact.errors[:phone].first if @contact %>
  </p>
  <p>
    <input type="email" name="email" placeholder="email" required>
    <%= @contact.errors[:email].first if @contact %>
  </p>
  <p>
  <%= select_tag "multi", options_from_collection_for_select(@interests, 'id', 'name'), :multiple => true, :required => true %>
  </p>
  <p>
    <%= check_box_tag(:newsletter_subscriber) %>
    <%= label_tag(:newsletter_subscriber, "Subscribe to our newsletter") %>
  </p>
  <p>
    <input type="submit" value="Create">
  </p>
<% end %>
<p><a href="/">Go back to homepage</a></p>
