<!DOCTYPE html>
<html>
  <head>
    <title>StudyCase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Including Slim Select : -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.css" rel="stylesheet"></link>
    <!-- Including plotly : -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
